/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}


/* HEADER CSS----------------------------------- */


.header{
    display: flex;  
    justify-content: space-between;
    margin-top: 9px;
    padding: 24px 16px;
    align-items: center;
    border-bottom: 1px solid #D9FFF5;;
}
.menu__divider{
    display: none;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.icon-style{
    width: 40px;
    height: 40px;
    flex-shrink: 0; 
    border-radius: 20px;
    background: #FF3E79;
    transition-duration: 0.5s;
    transition-property: opacity;
    transition-timing-function: ease;
}
.burger__icon{
    position: relative;
    top: 1px;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 20px;
}

.buttons__mobile::before{
    display: block;
    content: "";
    background-image: url(./../img/divider.svg);
    background-repeat: no-repeat;
    width: 2px;
    height: 32px;
    align-self: center;
}
.buttons__mobile{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    vertical-align: middle;
}
.buttons__add{
    display: none;
}




/* MAIN CSS----------------------------------- */


.main{
    background: #F8F8F8;
    height: 100vh;
}


/* ЗАГОЛОВОК УСЛУГИ И СЕРВИС-------------------*/


.main__head{
    color: #1B1C21;
    font-family: "TT Lakes", "Arial", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 142.857% */
    letter-spacing: -0.6px;
}
.head{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 15px;
    gap: 12px;
}
.head::before{
    display: block;
    content: "";
    background-image: url(./../img/highlight.png);
    background-repeat: no-repeat;
    width: 4px;
    height: 40px;
    flex-shrink: 0;
}

.desktop__buttons{
    display: none;
}

/* НАВИГАЦИОННЫЕ КНОПКИ------------------------- */
.navigation__list{
    display: flex;
    align-items: center;
    overflow-x: auto;
    gap: 10px;
    padding: 24px 16px;
}
.navigation__list::-webkit-scrollbar {
     width: 0;
     height: 0;
    }

.navigation__link{
    white-space: nowrap;
    color: #7E7E82;
    font-family: "TT Lakes", "Arial", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: -0.2px;
    padding: 8px 9px 8px 16.5px;
}
.navigation__link-active{
    border-radius: 6px;
    border: 2px solid #B8FFEC;
    background: #FFF;
    /* width: 246px;
    height: 40px; */
    flex-shrink: 0;
}



/* СЕКСТИОН-------------------------------------- */


.section{
    padding: 16px;
    padding-top: 0;
}
.section__image{
    width: 100%;
}
.section__aside{
    padding-top: 16px;
}
.section__p{
    max-height: 90px;
    color: #1B1C21;
    font-family: "TT Lakes", "Arial", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.2px;
    overflow-y: hidden;
    margin: 0;
    white-space: pre-wrap;
}
.section__button{
    margin-top: 16px;
    display: flex;
    align-items: center;
}
.section__button::before{
    display: block;
    content: "";
    background-image: url(./../img/expand.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
.section__button_style{
    color: #1B1C21;
    font-family: "TT Lakes", "Arial", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px; 
}
/* БУРГЕР МЕНЮ ОТКРЫТ-------------- */
    .burger-menu{
        width: 320px;
        height: 100%;
        box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
    }
    .burger-menu__cap{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 16.73px;
        padding: 23px 24px;
        padding-bottom: 0;
    }
    .icon-style:hover{
        opacity: 0.5;
    }
    .burger-menu__cap--right{
        margin-left: auto;
    }

    .burger-menu__container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 100px;
        padding-top: 46px;
        padding-bottom: 32px;
        width: 222px;
    }
    .burger-list{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 32px;
    }
    .burger-list__item{
        transition-duration: 0.5s;
        transition-property: box-shadow;
        transition-timing-function: ease;
        padding-left: 24px;
    }
    .burger-list__item:hover{
        box-shadow: -10px 5px 2px -2px  #FF3E79;
    }
    .burger-list__item--active{
        padding-left: 0px;
        pointer-events: none;
    }
    .burger-list__link{
        color: #1B1C21;
        font-family: TT Lakes;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; 
        letter-spacing: -0.2px;
    }
    .burger-list__link--active{
        color: #7E7E82;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        padding-left: 0;
    }
    .burger-list__link--active::before{
        display: block;
        content: "";
        background-image: url(./../img/highlight.png);
        background-repeat: no-repeat;
        width: 4px;
        height: 32px;
        flex-shrink: 0;
    }
    .burger-menu__footer{
        padding-left: 24px;
    }
    .footer-menu{
        display:flex;
        justify-content: flex-start;
        gap: 16px;
        padding-bottom: 16px;
    }
    .footer-menu__button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
    .footer-info>a{
        transition-duration: 0.5s;
        transition-property: color;
        transition-timing-function: ease;
    }
    .footer-info>a:hover{
        color: #FF3E79;
    }
    .burger-menu__footer--email{
        color: #1B1C21;
        font-family: TT Lakes;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; 
        letter-spacing: -0.2px;
    }
    .burger-menu__footer--number{
        color: #1B1C21;
        font-family: TT Lakes;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; 
        letter-spacing: -0.6px;
    }
    .footer-lang-list{
        display: flex;
        justify-content: flex-start;
        gap: 7px;
        padding-top: 40px;
        transition-duration: 0.5s;
        transition-property: box-shadow;
        transition-timing-function: ease;
    }
    .lang-list{
        color: #1B1C21;
        font-family: TT Lakes;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        letter-spacing: -0.2px;
    }
    .lang-list__active{
        color: #7E7E82;
        pointer-events: none;
    }
    .lang-list>li>a:hover{
        text-decoration: underline;
    }

@media (min-width: 768px) {

    /* ХЕДЕР ------------- */
    
    .header{
        padding: 24px;
    }
    .buttons__add{
        display: flex;
        justify-content: space-between;
        gap: 16px;
        vertical-align: middle;    
    }
    .menu__link::before{
        display:inline-block;
        content: "";
        background-image: url(./../img/divider.svg);
        background-repeat: no-repeat;
        width: 2px;
        height: 32px;
        margin-right: 20px;
        margin-top: 9.41px;
    }
    /* МЕЙН------------- */
    .head{
        gap: 20px;
    }
    .navigation__list{
        padding: 32px 24px;
    }
    .section{
        display: flex;
        gap: 48px;
        padding-left: 24px;
    }
    .section__div{
        display: flex;
        flex-direction: column;
        justify-content: top;
        gap: 10px;
    }
    .section__button{
        margin-top: 0;
    }
    .section__p{
        min-height: 160px;
        width: 312px;
        white-space: pre-wrap;
    }
    .section__aside{
        padding: 0;
        width: 100%
    }
    .section__image{
        max-width: 360px;
        max-height: 259.655px; 
        flex-shrink: 0;
    }
}

@media (min-width: 1120px){
    .header{
        display: none;
    }
    .main__container{
        padding: 42px 25px 0px 1px;
    }
    .main__head{
        padding-top: 0;
    }
    .main__desktop{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .head{
        gap: 30px;
    }
    .head::before{
        width: 3px; 
    }    
    .desktop__buttons{
        display: flex;
        align-items: center;
        gap: 32px;    
    }
    .position-repair{
        display: flex;
        gap: 9px;
        align-items: center;
        text-decoration: none;       
    }
    .position-checkstatus{
        display: flex;
        gap: 9px;
        align-items: center; 
        text-decoration: none;
    }
    .icon-style__position{
        width: 16px;
        height: 20px;
        flex-shrink: 0;
        position: relative;
        left: -12px;
        top: 10px;
    }
    .desktop__buttons-text{
        color: #1B1C21;
        text-align: right;
        font-family: "TT Lakes", "Arial", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        letter-spacing: -0.2px;
    }
    .navigation__list{
        flex-wrap: wrap;
        row-gap: 14.63px;
        padding: 16.22px 35px;
    }
    .section__p{
        min-height: 160px;
        width: 490px;
        white-space: pre-wrap;
    }
    .section__image{
        max-width: 531.346px;
        max-height: 383.241px;  
    }
    .section{
        padding: 0px 0px 49px 35px;
    }
}
