.header{
    display: flex;  
    justify-content: space-between;
    margin-top: 9px;
    padding: 24px 16px;
    align-items: center;
    border-bottom: 1px solid #D9FFF5;;
    
    @media(min-width: 768px){
        padding: 24px;
    }

    @media(min-width: 1120px){
        display: none;
    }
}
.menu__divider{
    display: none;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.icon-style{
    width: 40px;
    height: 40px;
    flex-shrink: 0; 
    border-radius: 20px;
    background: #FF3E79;
    transition-duration: 0.5s;
    transition-property: opacity;
    transition-timing-function: ease;
}
.burger__icon{
    position: relative;
    top: 1px;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 20px;
}

.buttons__mobile::before{
    display: block;
    content: "";
    background-image: url(./../img/divider.svg);
    background-repeat: no-repeat;
    width: 2px;
    height: 32px;
    align-self: center;
}
.buttons__mobile{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    vertical-align: middle;
}
.buttons__add{
    display: none;

    @media(min-width: 768px){
        display: flex;
        justify-content: space-between;
        gap: 16px;
        vertical-align: middle;    
    }
}
.main{
    background: #F8F8F8;
    height: 100vh;
}
.main__head{
    color: #1B1C21;
    font-family: "TT Lakes", "Arial", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 142.857% */
    letter-spacing: -0.6px;

    @media(min-width: 1120px){
        padding-top: 0;
    }
}
.head{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 15px;
    gap: 12px;

    @media(min-width: 768px){
        gap: 20px;
    }
    
    @media(min-width: 1120px){
        gap: 30px;
    }
}
.head::before{
    display: block;
    content: "";
    background-image: url(./../img/highlight.png);
    background-repeat: no-repeat;
    width: 4px;
    height: 40px;
    flex-shrink: 0;

    @media(min-width: 1120px){
        width: 3px; 
    }
}
.desktop__buttons{
    display: none;

    @media(min-width: 1120px){
        display: flex;
        align-items: center;
        gap: 32px;   
    }
}
.navigation__list{
    display: flex;
    align-items: center;
    overflow-x: auto;
    gap: 10px;
    padding: 24px 16px;
    
    @media(min-width: 768px){
        padding: 32px 24px;
    }
}
.navigation__list::-webkit-scrollbar {
     width: 0;
     height: 0;
}
.navigation__link{
    white-space: nowrap;
    color: #7E7E82;
    font-family: "TT Lakes", "Arial", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: -0.2px;
    padding: 8px 9px 8px 16.5px;
}
.navigation__link-active{
    border-radius: 6px;
    border: 2px solid #B8FFEC;
    background: #FFF;
    flex-shrink: 0;
}
.section{
    padding: 16px;
    padding-top: 0;

    @media(min-width: 768px){
        display: flex;
        gap: 48px;
        padding-left: 24px;
    }
    
    @media(min-width: 1120px){
        padding: 0px 0px 49px 35px;
    }
}
.section__image{
    width: 100%;

    @media(min-width: 768px){
        max-width: 360px;
        max-height: 259.655px; 
        flex-shrink: 0;
    }

    @media(min-width: 1120px){
        max-width: 531.346px;
        max-height: 383.241px;  
    }
}
.section__aside{
    padding-top: 16px;

    @media(min-width: 768px){
        padding: 0;
        width: 100%
    }
}
.section__p{
    max-height: 90px;
    color: #1B1C21;
    font-family: "TT Lakes", "Arial", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.2px;
    overflow-y: hidden;
    margin: 0;
    white-space: pre-wrap;

    @media(min-width: 768px){
        min-height: 160px;
        width: 312px;
        white-space: pre-wrap;
    }

    @media(min-width: 1120px){
        min-height: 160px;
        width: 490px;
        white-space: pre-wrap;
    }
}
.section__button{
    margin-top: 16px;
    display: flex;
    align-items: center;
    
    @media(min-width: 768px){
        margin-top: 0;
    }
}
.section__button::before{
    display: block;
    content: "";
    background-image: url(./../img/expand.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
.section__button_style{
    color: #1B1C21;
    font-family: "TT Lakes", "Arial", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px; 
}
.burger-menu{
    width: 320px;
    height: 100%;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
}
.burger-menu__cap{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16.73px;
    padding: 23px 24px;
    padding-bottom: 0;
}
.icon-style:hover{
    opacity: 0.5;
}
.burger-menu__cap--right{
    margin-left: auto;
}
.burger-menu__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
    padding-top: 46px;
    padding-bottom: 32px;
    width: 222px;
}
.burger-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
}
.burger-list__item{
    transition-duration: 0.5s;
    transition-property: box-shadow;
    transition-timing-function: ease;
    padding-left: 24px;
}
.burger-list__item:hover{
    box-shadow: -10px 5px 2px -2px  #FF3E79;
}
.burger-list__item--active{
    padding-left: 0px;
    pointer-events: none;
}
.burger-list__link{
    color: #1B1C21;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: -0.2px;
}
.burger-list__link--active{
    color: #7E7E82;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-left: 0;
}
.burger-list__link--active::before{
    display: block;
    content: "";
    background-image: url(./../img/highlight.png);
    background-repeat: no-repeat;
    width: 4px;
    height: 32px;
    flex-shrink: 0;
}
.burger-menu__footer{
    padding-left: 24px;
}
.footer-menu{
    display:flex;
    justify-content: flex-start;
    gap: 16px;
    padding-bottom: 16px;
}
.footer-menu__button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
.footer-info>a{
    transition-duration: 0.5s;
    transition-property: color;
    transition-timing-function: ease;
}
.footer-info>a:hover{
    color: #FF3E79;
}
.burger-menu__footer--email{
    color: #1B1C21;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: -0.2px;
}
.burger-menu__footer--number{
    color: #1B1C21;
    font-family: TT Lakes;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
    letter-spacing: -0.6px;
}
.footer-lang-list{
    display: flex;
    justify-content: flex-start;
    gap: 7px;
    padding-top: 40px;
}
.footer-lang-list__link{
    color: #1B1C21;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
}
.footer-lang-list__active{
    color: #7E7E82;
    pointer-events: none;
}
.footer-lang-list>li>a:hover{
    text-decoration: underline;
}

@media (min-width: 768px) {
    .menu__link::before{
        display:inline-block;
        content: "";
        background-image: url(./../img/divider.svg);
        background-repeat: no-repeat;
        width: 2px;
        height: 32px;
        margin-right: 20px;
        margin-top: 9.41px;
    }
    .section__div{
        display: flex;
        flex-direction: column;
        justify-content: top;
        gap: 10px;
    }
}

@media (min-width: 1120px){

    .main__container{
        padding: 42px 0px 0px 0px;
    }
    .main__desktop{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 25px;
    }
    .position-repair{
        display: flex;
        gap: 9px;
        align-items: center;
        text-decoration: none;       
    }
    .position-checkstatus{
        display: flex;
        gap: 9px;
        align-items: center; 
        text-decoration: none;
    }
    .icon-style__position{
        width: 16px;
        height: 20px;
        flex-shrink: 0;
        position: relative;
        left: -12px;
        top: 10px;
    }
    .desktop__buttons-text{
        color: #1B1C21;
        text-align: right;
        font-family: "TT Lakes", "Arial", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        letter-spacing: -0.2px;
    }
    .navigation__list{
        flex-wrap: wrap;
        row-gap: 14.63px;
        padding: 16.22px 35px;
    }
}
